/*
gameStyle.css
Robert Scanlon
CS290 Winter 2017
How-To Project
*/

body {
  background: linear-gradient(to bottom right, lightgrey, white, lightgrey)
  position: fixed;
  max-width: 960px;
}
div {
  text-align: center;
}
h1 {
  width: 90%;
  margin: 10px auto;
  text-align: center;
  font-family: Helvetica Neue;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
}
#cardDiv {
  text-align: center;
  margin: 0 auto;
  height: 350px;
  width: 250px;
}
table{
  margin: 0 auto;
}
td {
  width: 150px;
  height: 25px;
  text-align: right;
  font-family: monospace;
}
.faceCard {
  display: none;
}
