html, body {
  min-height: 100%;
}

body {
  background: linear-gradient(to bottom right, #f4f3e6, #54b8f2) fixed;
}

h1, h2 {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-family: Helvetica Neue;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
}

h2 {
  font-size: 20px;
  margin-bottom: 25px;
}

p {
  width: 75%;
  margin: auto;
}

#leftBorder {
  position: absolute;
  width: 20px;
  padding: 5px;
  left: 0;
  top: 0;
  text-align: center;
}

#rightBorder {
  position: absolute;
  width: 20px;
  padding: 5px;
  right: 0;
  top: 0;
  text-align: center;
}
