html, body {
  min-height: 100%;
}
body {
  background: linear-gradient(to bottom right, lightgrey, white, lightgrey)
              fixed;
}
h1, h2, h3 {
  width: 90%;
  margin: 10px auto;
  text-align: center;
  font-family: Helvetica Neue;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 18px;
}
p {
  width: 66.6667%;
  margin: auto;
  line-height: 200%;
  text-indent: 50px;
  font-family: "Times New Roman", serif;
  font-size: 18px;
}
pre {
  margin: auto;
  font-size: 16px;
  color: darkblue;
}
input {
  margin: 10px;
}
code {
  color: darkblue;
}
#hpTitle {
  margin-top: 25px;
  margin-bottom: 50px;
}
#leftBorder {
  position: absolute;
  width: 20px;
  padding: 5px;
  left: 0;
  top: 0;
  text-align: center;
  font-size: 20px;
}

#rightBorder {
  position: absolute;
  width: 20px;
  padding: 5px;
  right: 0;
  top: 0;
  text-align: center;
  font-size: 20px;
}

.inputButton {
  text-align: center;
}

.bodyDiv {
  margin: 25px;
}
.bodyDivAfterEx {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

.cardSeparator {
  font-size: 75px;
  color: red;
}

.jsCode {
  width: 66.667%;
  margin: auto;
  background-color: white;
}
.pCode {
  text-align: center;
}
